<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user_name, micropost.user %></span>
  <span class="content">
    <%= micropost.content %>
    <%= image_tag micropost.display_image if micropost.image.attached? %>
  </span>
  <span class="timestamp">
   <%= time_ago_in_words(micropost.created_at) %> <%= t("micro_post.ago")%>.
  </span>
  <% if current_user?(micropost.user) %>
  <%= link_to t("micro_post.delete_button"), micropost, data: { "turbo-method": :delete,
                                                turbo_confirm: t("micro_post.delete_confirm") } %>
  <% end %>
</li>
